.cart-item-image {
  object-fit: contain;
  padding: 10px;
  max-width: 5rem;
  max-height: 4rem;
  margin: 0 10px;
}

.content-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.car-item-main-information {
  display: flex;
  flex-direction: row;
  align-items: center;
}

